<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="wrapper-bgtop">
		<div id="header-wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">MyWebsite</a></h1>
				</div>
				<div id="menu">
					<ul>
						<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
						<li><a href="#" accesskey="2" title="">Portoflio</a></li>
						<li><a href="#" accesskey="3" title="">Services</a></li>
						<li><a href="#" accesskey="4" title="">About</a></li>
						<li><a href="#" accesskey="5" title="">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="banner" class="container"><img src="/assets/image1.jpg" width="1000" height="300" alt="" /></div>
		<div id="page" class="container">
			<div id="content">
				<div>
					<%= yield %>
				</div>
			</div>
			<div id="sidebar">
				<div class="sidebar-box">
					<h2>Maecenas luctus lectus</h2>
					<ul class="list-style1">
						<li><a href="#">Donec ut odio a molestie eu id magna.</a></li>
						<li><a href="#">Nunc ultrices diam, sed metus nec.</a></li>
						<li><a href="#">Ut ut ipsum libero,  semper mauris.</a></li>
						<li><a href="#">Pellentesque  gravida vulputate.</a></li>
						<li><a href="#">Aliquam accumsan , risus eleifend.</a></li>
						<li><a href="#">Integer sed ligula  at adipiscing dolor.</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="bg1">
	<div id="bg2">
		<div id="three-cols" class="container">
			<div id="column1">
				<h2>Integer gravida nibh</h2>
				<ul class="list-style1">
					<li><a href="#">Donec ut odio a molestie eu id magna.</a></li>
					<li><a href="#">Nunc ultrices diam, sed metus nec.</a></li>
					<li><a href="#">Ut ut ipsum libero,  semper mauris.</a></li>
					<li><a href="#">Pellentesque  gravida vulputate.</a></li>
					<li><a href="#">Aliquam accumsan , risus eleifend.</a></li>
					<li><a href="#">Integer sed ligula  at adipiscing dolor.</a></li>
				</ul>
			</div>
			<div id="column2">
				<h2>Praesent scelerisque</h2>
				<ul class="list-style1">
					<li><a href="#">Donec ut odio a molestie eu id magna.</a></li>
					<li><a href="#">Nunc ultrices diam, sed metus nec.</a></li>
					<li><a href="#">Ut ut ipsum libero,  semper mauris.</a></li>
					<li><a href="#">Pellentesque  gravida vulputate.</a></li>
					<li><a href="#">Aliquam accumsan , risus eleifend.</a></li>
					<li><a href="#">Integer sed ligula  at adipiscing dolor.</a></li>
				</ul>
			</div>
			<div id="column3">
				<h2>Etiam malesuada rutrum</h2>
				<ul class="list-style1">
					<li><a href="#">Donec ut odio a molestie eu id magna.</a></li>
					<li><a href="#">Nunc ultrices diam, sed metus nec.</a></li>
					<li><a href="#">Ut ut ipsum libero,  semper mauris.</a></li>
					<li><a href="#">Pellentesque  gravida vulputate.</a></li>
					<li><a href="#">Aliquam accumsan , risus eleifend.</a></li>
					<li><a href="#">Integer sed ligula  at adipiscing dolor.</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>Copyright (c) 2012 Untitled Templates. All rights reserved. Design by <a href="http://www.thewebhub.com/">Web Hub</a>. Photos by <a href="http://www.piktyurs.com/">Piktyurs.</a></p>
</div>
</body>
</html>
